<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9d4b7ce1-9c56-489c-b175-377dac3ca978" name="Rest Test Suite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="9d4b7ce1-9c56-489c-b175-377dac3ca978fileName">Rest-Test-Suite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>