<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ae8bfc42-c589-4897-b100-dc2ff959155c" name="REST APIS" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ae8bfc42-c589-4897-b100-dc2ff959155cfileName">REST-APIS</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/><con:tagId>822eba9e-15ab-4b44-be49-a95761572c58</con:tagId></con:testSuite>