<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3dd98a51-9349-4595-b149-b12e9030358b" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="3dd98a51-9349-4595-b149-b12e9030358bfileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>