<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="641e01bf-ecce-4895-ae36-6de15fe63356" name="CalculatorSoap_TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="641e01bf-ecce-4895-ae36-6de15fe63356fileName">CalculatorSoap_TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>num1</con:name><con:value>20</con:value></con:property><con:property><con:name>num2</con:name><con:value>10</con:value></con:property></con:properties><con:reportParameters/><con:tagId>822eba9e-15ab-4b44-be49-a95761572c58</con:tagId><con:tagId>a371633a-0fe4-4595-aa57-95cbfbef5533</con:tagId></con:testSuite>