<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="641e01bf-ecce-4895-ae36-6de15fe63356" name="CalculatorSoap_TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="641e01bf-ecce-4895-ae36-6de15fe63356fileName">CalculatorSoap_TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>